<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <app-roulette></app-roulette>

    <app-progress-bar></app-progress-bar>
    <!-- Button trigger modal -->
    <button gradient type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Launch demo modal
      </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header" gradient>
                    <h5 class="modal-title text-light" id="exampleModalLongTitle">Empleo | Negocio</h5>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success col-6" gradient>Aceptar</button>
                    <button type="button" class="btn btn-danger col-6" gradient data-dismiss="modal">Paso</button>

                </div>
            </div>
        </div>
    </div>
</div>